/*styles for index.html*/

:root {
  --primary-text-color: #757575;

  --title-text-color: #212121;

  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
}

body {
  background-color: #f5f4fa;
  color: #757575;

  font-family: Roboto, sans-serif;

  letter-spacing: 0.03em;

  margin: 0;
}

/* цвет основного текста #757575 */

/* вторичный цвет текста #212121 */

/* белый цвет текста #FFFFFF */

/* акцент : #2196F3 */

/*Утиліти*/
div {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

/*general info about container*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}
/*Page header*/

.page-header {
  background-color: var(--primary-white-color);
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}
.page-header .item + .item {
  margin-left: 50px;
}
/*Main nav*/

.main-nav,
.site-nav,
.contacts {
  display: flex;
  align-items: center;
}

.main-nav {
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 25px;
}

.site-nav li {
  margin-left: 50px;
}
.site-nav {
  margin-left: 93px;
}

.contacts li:not(:last-child) {
  margin-right: 50px;
}
.contacts {
  background-color: var(--primary-white-color);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 165.5px;
}

/* Logo */
.logo .accent-blue {
  color: var(--accent-color);
}
.logo .accent-black {
  color: var(--title-text-color);
}
.logo .accent-blue,
.accent-black {
  font-family: raleway, sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

a {
  text-decoration: none;
}

/* Site nav */

.contacts .container {
  display: flex;
  margin-left: auto;
}

.contacts .mail {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

.contacts .mail:hover {
  color: var(--accent-color);
}
.contacts .phone {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contacts .phone:hover {
  color: var(--accent-color);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero*/

.container-hero {
  background-color: #2f303a;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}

.hero .hero-title {
  padding-left: 280px;
  padding-right: 280px;
}

.hero-title {
  margin-top: 200px;
  margin-bottom: 40px;
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Button*/

.button-primary {
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  border: 1px solid transparent;
  border-color: var(--accent-color);

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  align-items: center;
  min-width: 200px;
  display: inline-block;
}

.button-primary {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  margin-left: 500px;
  margin-right: 500px;
  margin-bottom: 200px;
}

/* section*/

.section {
  margin-top: 0;
  margin-bottom: 94;
  background-color: #e5e5e5;
}

.section .no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.section-title {
  text-align: center;
}

.section .section-title {
  margin-top: 94px;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  background-color: violet;
}

.photo {
  width: calc((100% - 60) / 3);
  /*width: 370px;*/
  /*margin-right: 30px;*/
  display: inline-block;
  background-color: yellowgreen;
}

/*.photo:nth-last-child(-n + 3) {
  margin-bottom: 0;*/
}

/*.photo:nth-child(1n) {
  margin-right: 0px;*/
}

/* Features */

.title-list {
  width: 270px;
  display: inline-block;
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}

/*.feature-list li {
  width: 270px;
  display: flex;
  display: inline-block;
  margin-top: 94px;
  margin-bottom: 94px;*/
}

.feature-list .container {
  background-color: #e5e5e5;
}

.feature-list .title {
  margin-top: 0;
  margin-bottom: 10;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}

.feature-list .paragraph {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

/* Our team*/

.section-no-padding .container {
  background-color: #f5f4fa;
}

.section-no-padding .section-title {
  margin-top: 94px;
  margin-bottom: 50px;
}

.our-team li {
  display: flex;
  align-items: center;
  width: 270px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.content {
  margin-right: 30px;
}

.master-data {
  padding: 30px 55px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
}

.title .occupation {
}

.our-team .title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.our-team .occupation {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Footer*/
.footer .container {
  background-color: #2f303a;
}

.logo-container {
  margin-top: 60px;
  margin-bottom: 20px;
}

.contact-list-mail {
  margin-top: 9px;
}

.contact-list-phone {
  margin-top: 9px;
  margin-bottom: 60px;
}
/* Logo for footer*/
.logo-footer .accent-blue {
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer .accent-white {
  color: var(--primary-white-color);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}


.footer .address {
  color: var(--primary-white-color);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer .address-contact {
  color: rgba(100%, 100%, 100%, 60%);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
/*styles for portfolio.html*/

:root {
  --primary-text-color: #757575;

  --title-text-color: #212121;

  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* section*/

.section-title {
  color: var(--title-text-color);
}

.filter {
  background-color: #e5e5e5;
}

.filter .button {
  margin-top: 94px;
  margin-bottom: 50px;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-color: #f5f4fa;
  background-color: #f5f4fa;
  display: inline-block;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  min-width: 73px;
}

.button:hover,
:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: 1px solid transparent;
  border-color: var(--accent-color);
}

.filter {
  display: flex;
  justify-content: center;
}

.filter .item + .item {
  margin-left: 8px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #e5e5e5;
}

.flex-element {
  width: 370px;
  display: inline-block;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;
}

.flex-element:nth-child(3n) {
  margin-right: 0;
}

.title-container {
margin-top: 20px;
display: flex;
display: inline-block;
}

.variety-container {

}

.flex-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.feature-list-portfolio .title {
  margin-top: 0;
  margin-bottom: 4;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.feature-list-portfolio .variety {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}
