/*styles for index.html*/

:root {
  --primary-text-color: #757575;

  --title-text-color: #212121;

  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
}

body {
  /*background-color: #f5f4fa;*/
  color: #757575;

  font-family: Roboto, sans-serif;

  letter-spacing: 0.03em;

  margin: 0;
}

/* цвет основного текста #757575 */

/* вторичный цвет текста #212121 */

/* белый цвет текста #FFFFFF */

/* акцент : #2196F3 */

/*Утиліти*/
div {
  padding: 0;
  margin: 0;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
}

/*general info about container*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*Page header*/

.page-header {
  background-color: var(--primary-white-color);
}
 
.page-header {
  border-bottom: 1px;
}

/*Main nav*/

.main-nav,
.site-nav,
.contacts {
  display: flex;
}

.main-nav {
  /*padding-top: 24px;*/
  align-items: center;
}


.site-nav {
  display: flex;
  margin-left: 93px;
}



/*.site-nav .item {
  outline:1px solid red;
  background-color: blue;
  /*margin-right: 50px;*/


/*.site-nav .item:last-child {
  margin-right: 0;
}*/

/*.site-nav .item:not(:last-child) {
  margin-right: 50px;
}*/

.site-nav .item + .item {
  margin-left: 50px;
}


.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link:focus {
  border: none;
}

.site-nav .link.current {
  color: var(--accent-color);
}


.contacts {
  background-color: var(--primary-white-color);
  margin-left: auto;
  /*padding-top: 32px;
  padding-bottom: 32px;
  /*margin-left: 165.5px;*/
}

.contacts .item + .item {
  margin-left: 50px;
}


/* Logo */
.page-logo__header {
  color: var(--accent-color);
}
.accent-black {
  color: var(--title-text-color);
}
.page-logo__header,
.accent-black {
  font-family: raleway, sans-serif;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

a {
  text-decoration: none;
}



.contacts .mail {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  /*margin-right: 50px;*/
}

.contacts .mail:hover {
  color: var(--accent-color);
}
.contacts .phone {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.contacts .phone:hover {
  color: var(--accent-color);
}*/



/* Hero*/

/*.container-hero {
  background-color: #2f303a;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red;
}*/

/*.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
}*/

.hero .hero-title {
  margin: auto;
}

.hero-title {
 
  color: #ffffff;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.hero-index {
  background-color: #2f303a;
  padding: 200px 0;
}

.container-hero {
  /*background-color: #2f303a;*/
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/*Button*/

.button {
  width: 200px;
}

/*html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}*/

.button {
  border-radius: 4px;
  padding: 10px 32px;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  border: 1px solid transparent;
  border-color: var(--accent-color);

  min-width: 200px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  align-items: center;
  display: inline-block;
  
}

.button {
  display: block;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  margin: 0 auto;
  padding: 0 auto;
  padding: 6.22px;
}

/* section*/

.work {
  /*
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*background-color: #e5e5e5;*/
}

.work  {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  text-align: center;
}

.section-photo {
  padding: 0;
  margin: 0;
  display: flex;

  margin-left: -30px;
}
.section-photo > .photo {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.section-work .section-title {
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}


.photo li {
  margin-right: 30px;
}

.photo li:last-child {
margin-right: 0;
}


.photo:nth-child(1n) {
  margin-right: 0px;
}

/* Features */

/*.title-list {
  width: 270px;
  display: inline-block;
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}*/

/*.feature-list li {
  width: 270px;
  display: flex;
  display: inline-block;
  margin-top: 94px;
  margin-bottom: 94px;*/
}

/*.feature-list .container {
  background-color: #e5e5e5;
}*/


.content-list li {
  width: 270px;
  display: inline-block;
  /*margin-top: 94px;*/
}

.title-list {
 margin-right: 23px;
}
.title-list:last-child {
  margin-right: 0;
}

.feature {
  padding-top: 94px;
  display: flex;
}

.content-list {
  display: flex;
  margin-left: -30px;
}

.content-list > .title-list {
  padding: 0;
  margin: 0;
  flex-basis: calc(100% / 4 -30px);

  margin-left: 30px;
}

.feature .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}


.feature .paragraph {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

/* Our team*/

img {
  display: block;
  max-width: 100%;
}

.card-thumb {
  outline: 1px solid transparent;
}

.content-team * {
  outline: 1px solid transparent;
}

.card-content {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  background-color: var(--primary-white-color);
}

.occupation {
  margin-top: 10px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.content-team {
  background-color: var(--primary-white-color);
}

.our-team {
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: -30px;
}

.our-team > .content-team {
flex-basis: calc(100% / 4 - 30px);
margin-left: 30px;
}

/*.content-team {
  /*display: inline-block;
  display:inline-block;
  align-items: center;
  /*width: 270px;*/
  /*margin-top: 50px;
  margin-bottom: 94px;
  margin-right: 30px;*/
}

.content-team:last-child {
  margin-right: 0;
}


.occupation {
  margin-top 10px;
  margin-bottom: 30px;
}

.section-title {
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.title .occupation {
}

.our-team .title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.our-team .occupation {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Footer*/
.footer {
  background-color: #2f303a;
}

.logo-container {
  margin-top: 60px;
  margin-bottom: 20px;
}

.contact-list-mail {
  margin-top: 9px;
}

.contact-list-phone {
  margin-top: 9px;
  margin-bottom: 60px;
}
/* Logo for footer*/

.page-logo__footer {
  display: block;
  margin-bottom: 20px;
}

.page-logo__footer {
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.accent-white {
  color: var(--primary-white-color);
  font-family: raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-bottom: 20px;
}

.page-logo__footer {
  margin-bottom: 20px;
}

.address {
  margin-bottom: 9px;
}

.mail-contact {
  margin-bottom: 9px;
}

.footer .container {
  padding-top: 60px;
}

.footer .container {
  padding-bottom: 60px;
}

/*.footer .address-footer {
  padding-top: 20px;
}*/

.footer .address {
  color: var(--primary-white-color);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.contact-info {
  display: block;
}
.footer .address-contact {
  color: rgba(100%, 100%, 100%, 60%);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer .mail-contact {
  color: rgba(100%, 100%, 100%, 60%);

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

/*styles for portfolio.html*/

:root {
  --primary-text-color: #757575;

  --title-text-color: #212121;

  --accent-color: #2196f3;

  --primary-white-color: #ffffff;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* section*/

.feature-list-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
}


.portf-button { 
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-color: #f5f4fa;
  background-color: #f5f4fa;
  display: inline-block;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  min-width: 73px;
}


.filter .portf-button:hover,
.filter .portf-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  outline: auto;
}


.portfolio-button :hover
:focus {
  /*background-color: var(--accent-color);*/
  color: var(--accent-color);
  border: 1px solid transparent;
  /*border-color: var(--accent-color);*/
  outline: auto;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  /*margin-top: -30px;
  margin-left: -30px;*/
}


.filter .item + .item {
  margin-left: 8px;
}

.flex-element{
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap:wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.flex-element > .item-element{
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.thumb-portfolio {
  outline: 1px solid transparent;
}

.item-element * {
  outline: 1px solid transparent;
}

.element-container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid transparent;
  background-color: var(--primary-white-color);
}

.title {
  margin-bottom: 4px;
}


.item-element:nth-child(3n) {
  margin-right: 0;
}

.variety {
  margin-top: 4px;
}

.item-element .flex-element {
  width: 370px;
  display: inline-block;
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;
}



.flex-element:nth-child(3n) {
  margin-right: 0;*/
}


.feature-list-portfolio .title {
  margin-top: 0;
  margin-bottom: 4;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.feature-list-portfolio .variety {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);

  font-weight: normal;
  font-size: 16px;
  line-height: 1.8;
}
